/*Customizes menu items*/
.container-header .mod-menu {
    color: #203A72;
    font-family: 'Montserrat';
    font-weight: bold;
}

.container-header .mod-menu a:hover {
    color: #60A800;
}

/* =====================================
   Header navigation responsiveness
   ===================================== */
.container-below-top nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(10px, 2cqi, 24px);
    margin-bottom: 0;
    padding-left: 0;
}

.container-below-top nav li {
    height: 175px;
    display: flex;
    align-items: center;
}

.container-below-top .Menu-img {
    margin-right: 50px;
    margin-left: 50px;
    width: clamp(100px, 12cqi, 172px);
}

.container-below-top .menuSelect {
    height: 50px;
    padding: 0 clamp(5px, 1.5cqi, 30px);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin-top: clamp(50px, 6.5cqi, 100px);
}

.container-below-top .menuSelect.list {
    color: #203A72;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: clamp(14px, 1.25cqi, 18px);
    cursor: pointer;
    margin-bottom: 0;
    justify-content: flex-start;
}

.container-below-top .containerAU:hover .menuSelect.AU,
.container-below-top .containerCU:hover .menuSelect.CU {
    color: #60A800;
}

.container-below-top a:not(.btn) {
    color: #203A72;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: clamp(14px, 1.25cqi, 18px);
}

.container-below-top a:not(.btn):hover {
    color: #60A800;
}

.container-below-top .menuDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #7B95B1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.container-below-top a:not(.btn).drop {
    color: #EAEAEA;
    font-weight: bold;
    font-size: clamp(13px, 1.25cqi, 17px);
    text-decoration: none;
    padding: .5em 2em;
}

.container-below-top a:not(.btn).drop:hover {
    color: #203A72;
}

.container-below-top .containerAU:hover .menuDropdown.AU,
.container-below-top .containerCU:hover .menuDropdown.CU {
    max-height: 155px;
}

.container-below-top .drop.top {
    margin-top: .5em;
}

.container-below-top .drop.bottom {
    margin-bottom: .5em;
}

.container-below-top a:not(.btn).drop.big {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1.5;
    padding-left: 1.5em;
}

@media (max-width: 1250px) {
    .container-below-top nav ul {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .container-below-top nav li {
        height: auto;
        width: 100%;
        justify-content: left;
    }

    .container-below-top .Menu-img {
        margin: 20px auto 10px;
        width: clamp(120px, 45vw, 180px);
    }

    .container-below-top .menuSelect {
        margin-top: 0;
        width: fit-content;
        padding: 12px;
        justify-content: flex-start;
        text-align: left;
        gap: 0;
    }

    .container-below-top .menuSelect.list {
        justify-content: flex-start;
    }

    .container-below-top .menuDropdown {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .container-below-top .menuDropdown a {
        text-align: left;
    }

    .container-below-top .menuArrow {
        margin-top: 0px;
        align-self: center;
    }
}

@media (min-width: 1250px) {
    :where(.menuSelect, .menuSelect *) {
        width: auto !important;
        min-width: max-content !important;
        height: auto !important;
        writing-mode: horizontal-tb !important;
    }
}

.footer a:not(.btn):hover,
.footer a:not(.btn):focus,
.footer .btn-link:hover,
.footer .btn-link:focus {
    color: #60A800;
}



.mod-custom.custom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.collapse:not(.show) {
    display: flex;
}

@media (width <922px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}


ul.mod-menu.mod-menu_dropdown-metismenu.metismenu.mod-list {
    flex-direction: row;
    flex: 1;
    display: flex;

}

.navbar.navbar-expand-lg {
    position: absolute;
    top: 100px;
    left: 350px;
    z-index: 1000
}

#mod-custom113.mod-custom.custom {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#mod-custom117.mod-custom.custom {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}


ul.mm-collapse.mm-show li a:hover {
    color: #203A72;
}

.metismenu.mod-menu .metismenu-item.active>a,
.metismenu.mod-menu .metismenu-item.active>button,
.metismenu.mod-menu .metismenu-item>a:hover,
.metismenu.mod-menu .metismenu-item>button:hover {
    text-decoration: none;
}


.container-footer.footer.full-width {
    background-image: linear-gradient(135deg, #EAEAEA 0%, #EAEAEA 100%);
}

.footer .grid-child {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(10px, 2cqi, 24px);
}

.footer .grid-child>* {
    flex: 1 1 180px;
    min-width: 160px;
}

.footer .mod-custom.custom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.footer .mod-custom.custom p,
.footer .mod-custom.custom span,
.footer .mod-custom.custom a {
    writing-mode: horizontal-tb !important;
    white-space: normal;
}

.footer .mod-custom.custom .copyright-text {
    flex: 0 0 auto;
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.footer .mod-menu,
.footer .mod-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-left: 0;
    margin: 0;
}

.footer .mod-menu li {
    list-style: none;
}

.footer .mod-menu li a {
    display: inline-flex;
    align-items: center;
}


.metismenu.mod-menu .metismenu-item {
    padding: .5em 2em;
}

div#maximenuck115 ul.maximenuck {
    background: #ffffff;
}

.mod-menu__separator.separator.mm-toggler.mm-toggler-nolink.mm-collapsed {
    color: #203A72;
    font-family: 'Montserrat';
    font-weight: bold;
}

.mod-menu__separator.separator.mm-toggler.mm-toggler-nolink.mm-collapsed:hover {
    color: #60A800;
}

.mod-menu__separator.separator.mm-toggler.mm-toggler-nolink.mm-collapsed:focus {
    color: #203A72;
    font-family: 'Montserrat';
    font-weight: bold;
}

input,
button,
optgroup,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    font-weight: bold;
    color: #60A800;
}

.metismenu.mod-menu .mm-toggler {
    color: #60A800;
}

body.site.com_content.wrapper-fluid.view-article.no-layout.no-task.itemid-101 {
    padding: 0px;
    margin: 0 !important;
}


.metismenu.mod-menu .mm-collapse {
    color: #EAEAEA;
    background-color: #7b95b1;
    font-weight: bold;
}

.metismenu.mod-menu .parent>ul {
    color: #EAEAEA;
}

.site-grid {
    grid-gap: 0 0em !important;
}

.phpdebugbar.phpdebugbar-minimized.phpdebugbar-closed {
    display: none;
}

header.header.container-header.full-width {
    background-color: #ffffff;
    background-image: none;
}