body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 300px;
    padding: 15px;
    background-color: #f7f7f7;
    border-right: 1px solid #ccc;
    height: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: hidden;
    left: 0;
    top: 303;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
}

.sidebar h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.filter-option {
    margin-bottom: 20px;
}

.dropdown {
    margin-left: 20px;
    display: none;
}

.dropdown label {
    display: block;
    margin-bottom: 5px;
}

.grid-child.container-component {
    height: 4500px;
}

.dropdown-content {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}

.dropbox {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.FilterTitleText {
    cursor: pointer;
    color: #000000;
    background-color: #f7f7f7;
    border: 0px;
    font-size: 22px;
    width: 250px;
    height: 50px;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: auto;
    width: 300px;
    position: absolute;
    top: 200px;
    left: -300px;
    background-color: #f7f7f7;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.6s;

}

.sidebar a:hover {
    color: #f1f1f1;
}


.open-sidebar .sidebar {
    left: 0;
}

.sidebar-button {
    position: absolute;
    top: 200px;
    left: 20px;
    transform: translateX(-100%);
    width: 20px;
    height: var(--matched-height);
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    border: 0;
    color: #203A72;
}

.open-sidebar .sidebar-button {
    left: 300px;
    transform: translateX(0);
}

.selected {
    /*position: relative;
    top: 200px;
    left: 100px;
    transition: 0.6s;*/
}

.open-sidebar .selected {
    left: 400px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    border: 1px solid #203A72;
    text-align: left;

}